body {
    background-color: blanchedalmond;
    font-family: Arial, sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    text-align: center;
}

table {
    border: 2px solid black;
    justify-content: center;
}