{% extends 'base.html' %}

{% block head %}
    <!-- Jinja2 syntax -->
    <link rel="stylesheet" href="{{url_for('static', filename='fee_member.css')}}">  
    <title>Fee Member</title>
{% endblock %}

{% block body %}
<div class="content"> 
    <h1 style="text-align: center;">Fee Member</h1>

    {#
    <!-- Kehadiran Ke 5 : Anda mendapat bayaran sebesar -->
    {% if type_ == "bus" %}
    <!-- <h2> 500 rb rupiah </h2> -->
    {% elif type_ == "bus" %}   
    <!-- <h2> 250 rb rupiah </h2> -->
    {% endif %}
    #}

    <a href="{{ url_for('homepage') }}" class="button">Kembali ke Menu Utama</a>
</div>
{% endblock %}