{% extends 'base.html' %}

{% block head %}
    <!-- Ganti CSS nya Kalo Mau  -->

    <!-- Jinja2 syntax -->
    <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">  

    <!-- Normal syntax -->
    <!-- <link rel="stylesheet" href="../static/reg.css"> -->

    <title>Homepage</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Homepage</h1>
    <div class="button-container">
        <a href="{{ url_for('register') }}" class="button">Daftar Member Baru</a>
        <a href="" class="button">Member Attendance</a>
        <a href="" class="button">Lihat Kehadiran</a>
        <a href="" class="button">Lihat Pengeluaran</a>
    </div>
</div>
{% endblock %}