{% extends 'base.html' %}

{% block head %}
    <!-- Jinja2 syntax -->
    <link rel="stylesheet" href="{{url_for('static', filename='reg.css')}}">  
    <title>Register</title>
{% endblock %}

{% block body %}
<h1>Register Page</h1>
<form action="/register" method="POST">
    <section id="reg">
        <div class="input-icon">
            <i class="fa-solid fa-phone"></i>
            <input type="number" name="phone" id="phone" placeholder="Input Nomor Hp" required>
        </div>
        <div class="input-icon">
            <i class="fa-solid fa-user"></i>
            <input type="text" name="name" id="name" placeholder="Input Nama Lengkap" required>
        </div>
        <div class="input-icon">
            <i class="fa-solid fa-car"></i>
            <select name="type_" id="type_">
                <option value="none">Pilih Jenis</option>
                <option value="travel">Travel</option>
                <option value="bus">Bus</option>
            </select>
        </div>
        <button type="submit">Submit</button>
    </section>
</form>
{% endblock %}