{% extends 'base.html' %}

{% block head %}
    <!-- Jinja2 syntax -->
    <link rel="stylesheet" href="{{url_for('static', filename='view_member.css')}}">  
    <title>View All Member</title>
{% endblock %}

{% block body %}
<div class="content"> 
    <h1 style="text-align: center;">View All Member</h1>

    {#
    {% if new_register True %}
    <!-- get members.id new register / member[0][-1] -->
    <!-- Format : Selamat datang {member.nama} dengan id: {member.id} -->
    {% endif %}
    #}

    {% if members|length < 1 %}
    <h4 style="text-align: center;">Belum Ada Member</h4>
    {% else %}

    <table>
        <tr>
            <th>ID</th>
            <th>Nama Lengkap</th>
            <th>Tipe</th>
        </tr>
        {% for member in members %}
            <tr>
                <td>{{ member[0] }}</td>
                <td>{{ member[1] }}</td>
                <td>{{ member[3] }}</td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <a href="{{ url_for('homepage') }}" class="button">Kembali ke Menu Utama</a>
</div>
{% endblock %}